[2019-04-23 08:30] agisilaos opened #1 "Images are checked as if they're links"
👋 Hello there, I tested this action recently, and after the first test, I observed that images are checked as if they're links. Here's what I mean. Below you can find part of the log.

[code]

As you can see above, this is a valid syntax for images, so I'm not sure why action checks them as if they're links.

[2019-04-26 00:43] gaurav-nelson commented on #1
Thank you @agisilaos

This is because markdown-link-check utility checks for images, references, and hyperlinks. I think it expects relative links while checking. So if you update you links to make them relative links, it will pass the test. For this case, use `../images` instead of `/images`.
[code]

If you think, it should work by default, please see https://github.com/tcort/markdown-link-check

[2019-04-26 11:56] agisilaos commented on #1
Thank you for the detailed explanation. I will most likely open an issue since `/images` is a valid syntax. Thanks again!

[2019-04-26 11:56] #1 closed

[2019-09-06 14:23] oncleben31 opened #2 "Failed to download action"
I'm trying your action but I've the following error message:
[code]
I've copy paste your example in the README.

[2019-10-09 00:21] #2 closed

[2019-10-09 12:42] Logerfo commented on #2
Use the @0.4.0 tag (note that there is no `v` prefix).

[2019-10-17 00:00] gaurav-nelson opened #8 "Add --verbose option"
PS: https://github.com/tcort/markdown-link-check#usage

[2019-10-17 00:01] gaurav-nelson opened #9 "Add failures as comments on PR"
Similar to https://github.com/gaurav-nelson/github-action-vale-lint

[2019-10-17 00:03] gaurav-nelson opened #10 "Use variable for specifying configuration file."
Enable users to specify the location of  the configuration file as a variable rather than imposing the `mlc_config` file.

[2019-12-09 15:20] FriederikeHanssen opened #11 "Check for links to subsections"
I was wondering whether it is possible to check for links to subsections such as ``` [thing](#link_to_sections_explaining_thing)```

Is it already possible?

[2019-12-22 05:11] lqez opened #12 "Check for image links"
I tested this action on my project and it works like a charm, thanks!
And it would be much appreciate if I can run this action against images, not just links of markdown files.

[2020-01-02 12:45] scanf commented on #8
👍 Currently, there is no way to see which link is broken without running locally  `markdown-link-check -pv`. It would good to see the broken link the action log. Is there any way to do that now?

[2020-01-03 00:40] gaurav-nelson commented on #8
Thanks @scanf
If the action encounters a bad link it fails and the failure log is visible in the action log. For example, see https://github.com/gaurav-nelson/github-action-markdown-link-check/runs/263198079#step:3:56

[2020-01-03 06:59] scanf commented on #8
Sorry, I am not sure what you are saying is correct. For ex. on this link I can't see which link is broken https://github.com/scanf/DevYouTubeList/commit/711d29d25a309c3b6d109a12116c58f1c00b0c7c/checks?check_suite_id=381451618

In that case the failure was due to missing `https://`, but from your log I could not see the link error. I had to run it locally in verbose.
https://github.com/ErikCH/DevY

[2020-01-07 00:37] gaurav-nelson commented on #8
@scanf The error is visible in the log at:
- https://github.com/scanf/DevYouTubeList/commit/711d29d25a309c3b6d109a12116c58f1c00b0c7c/checks?check_suite_id=381451618#step:4:226
- https://github.com/scanf/DevYouTubeList/commit/711d29d25a309c3b6d109a12116c58f1c00b0c7c/checks?check_suite_id=381451618#step:4:335

You need to expand to see the whole log.

[2020-01-24 13:46] Logerfo opened #14 "TypeError: Cannot read property 'get' of undefined"
at emitTwo (events.js:126:13)
at ChildProcess.emit (events.js:214:7)
at maybeClose (internal/child_process.js:915:16)
at Process.ChildProcess._handle.onexit (internal/child_process.js:209:5)
TypeError: Cannot read property 'get' of undefined
at errorHandler (/usr/lib/node_modules/npm/lib/utils/error-handler.js:205:18)
at /usr/lib/node_modules/npm/bin/npm-cli.js:78:20
at cb (/usr/lib/node_modules/n

[2020-01-25 18:49] oncleben31 commented on #14
Same thing here.

[2020-01-28 18:47] philsturgeon commented on #14
This fork has a fix: https://github.com/planetscale/github-action-markdown-link-check/pull/1

Tested it out and it works: https://github.com/stoplightio/spectral/pull/951

[2020-02-10 00:39] #14 closed

[2020-02-10 02:29] #8 closed

[2020-02-10 02:29] #10 closed

[2020-02-10 02:51] gaurav-nelson commented on #11
Hello @FriederikeHanssen it checks for section links as well by default. See https://github.com/gaurav-nelson/github-action-markdown-link-check/pull/16/checks#step:3:86

Can you share more details or the log where it is not doing so?

[2020-02-10 02:53] gaurav-nelson commented on #12
@lqez Can you share the log where it is not checking images? I think it checks for images by defaults.

[2020-02-10 08:52] lqez commented on #12
My mistake. Thank you for replying.

[2020-02-10 08:52] #12 closed

[2020-02-10 16:56] FriederikeHanssen commented on #11
@gaurav-nelson let me take a look. Maybe I misconfigured this somewhere.

[2020-02-11 08:54] FriederikeHanssen commented on #11
ok, well somehow this works now. Maybe I set this up weird somehow or something locally for testing didn't work 🙈.

[2020-02-11 09:06] gaurav-nelson commented on #11
Thanks @FriederikeHanssen , Looks like that its working as expected.
Please feel free to close this issue.

[2020-02-11 09:19] #11 closed

[2020-02-11 09:21] gaurav-nelson commented on #11
@FriederikeHanssen Thanks, PS: https://github.com/FriederikeHanssen/nf-co.re/pull/1

[2020-02-12 15:46] derberg opened #19 "Minor improvements for README.md"
Hey man, great stuff, thanks for the action, I could quickly integrate with my repo https://github.com/derberg/awesome-asyncapi/blob/master/.github/workflows/main.yml

Small comments from my side:
- default checkout depth is set to 1 so you do not have to set it explicitly
- I think most common sense for links validation is a scheduled check because links can stop working overtime without changes

[2020-02-13 01:03] gaurav-nelson commented on #19
Thanks to you @derberg for suggestions. I have polished the [README](https://github.com/gaurav-nelson/github-action-markdown-link-check#scheduled-runs) based on your suggestions.

[2020-02-13 01:03] #19 closed

[2020-02-18 08:39] ruzickap opened #20 "Proper version tagging"
Hello.

Would it be possible to do a proper tagging for this project please?

Maybe good starting point is here: https://github.com/actions/checkout
They are using versions like:

* `v2` -> `v2.0.0`
* `v1` -> `v1.2.0`
* `v1.1.0`
* `v1.0.0`

It would be really handy to use something like `v1` instead of specifying the exact version only `v1.6.0`:

[code]

It will save me from changing the "exact ve

[2020-02-18 11:37] gaurav-nelson commented on #20
@ruzickap Thanks for the suggestion. Till I explore this and put my head around maintaining versions, you can use:

[code]

[2020-02-19 06:20] ruzickap commented on #20
Yes I know - thank you.

This is what I would like to avoid. `master` branch is usually used for development so it's not recommended to use master for "stable/production" environments (comparing to `v1` or other proper "stable" tags)

Anyway take your time to look at it...

[2020-03-12 09:15] raunaqgupta opened #23 "Custom variable to only check new or modified markdown files in a PR"
Currently, if this github action is used as a pre-check on a PR, it still goes through all files in the repository regardless of whether they were touched in the PR or not. It would be nice to have a custom variable to switch between these two modes:

1. Only check new/modified files
2. Check all files

[2020-03-13 04:49] gaurav-nelson commented on #23
Thanks @raunaqgupta Certainly doable. I'll get on to it.

[2020-03-29 12:17] philsturgeon commented on #23
This would be super handy for us. We're hitting 429 errors for GitHub when it goes through our CHANGELOG and spams the github issues/links. 😅

[2020-03-29 12:47] philsturgeon opened #24 "folder-path is ignored"
Using the following action:

[code]

I would expect only the docs/ folder to be checked, but it goes ahead and checks all .md files anyway:

[code]

I am adding in some comments to turn it off and back on again in the changelog, but I'd prefer to be able to use this handy feature.

If you've got a buy me a coffee button or wanna add a [Treeware](https://treeware.earth/) button I'll be happy to thr

[2020-03-29 23:30] gaurav-nelson commented on #24
Thanks @philsturgeon

Instead of using `folder-path: "./docs/"` can you please try `folder-path: "docs"`?

Thanks for the ☕️ offer, I'll look into the Treeware 🌳 thingy.

[2020-03-29 23:36] gaurav-nelson commented on #24
I tried this in https://github.com/stoplightio/spectral/pull/1041 but looks like its a bug. I'll look into this one.

[2020-03-31 12:15] gaurav-nelson commented on #24
@philsturgeon

insted of:
[code]

it should be:
[code]

[2020-03-31 12:15] #24 closed

[2020-04-02 00:33] bogdandrutu opened #27 "I get this error when I use version 0.6.0 but works fine with 0.4.0"
[Check Markdown Files/markdown-lint]   ☁  git clone 'https://github.com/gaurav-nelson/github-action-markdown-link-check' # ref=0.6.0
ERRO[0002] Unable to interpolate string '${{ inputs.use-quiet-mode }}' - [ReferenceError: 'quiet' is not defined]
ERRO[0002] Unable to interpolate string '${{ inputs.use-verbose-mode }}' - [ReferenceError: 'verbose' is not defined]
ERRO[0002] Unable to interpolate st

[2020-04-02 02:31] gaurav-nelson commented on #27
Thank you @bogdandrutu
I still have to figure out proper release versioning #20

The issues you see in 0.6.0 are bugs which are resolved in master. I recommend you to use the following for now:
[code]

till I figure out proper release versioning thingy.

[2020-04-02 03:03] bogdandrutu commented on #27
Here is my action:
[code]

I see the same error:
[code]

You can see that it pulls master:
`[Check Markdown Files/markdown-lint]   ☁  git clone 'https://github.com/gaurav-nelson/github-action-markdown-link-check' # ref=master`

[2020-04-02 03:18] gaurav-nelson commented on #27
@bogdandrutu The issue is becuase you're trying to run locally using act.
PS: https://github.com/nektos/act/issues/181 and https://github.com/nektos/act/issues/104

Can you try running this in a pull request in your repository?

[2020-04-02 10:19] gaurav-nelson commented on #27
Closing this one, I am able to run it just fine. Its a [issue with act](https://github.com/gaurav-nelson/github-action-markdown-link-check/issues/27#issuecomment-607598263).
https://github.com/gaurav-nelson/opentelemetry-specification/runs/554622619?check_suite_focus=true#step:4:20

[2020-04-02 10:19] #27 closed

[2020-04-03 04:04] gaurav-nelson commented on #20
Started proper versioning now. v1 is out.

[2020-04-03 04:04] #20 closed

[2020-04-03 05:01] ruzickap commented on #20
I'm not sure. I can not see `v1` in the available tags:

https://github.com/gaurav-nelson/github-action-markdown-link-check/tags

I can see you released `1.0.0` :-) but tag `v1` pointing to this release is missing...

[2020-04-05 10:33] gaurav-nelson commented on #23
Fixed in v1.0.1

[2020-04-05 10:33] #23 closed

[2020-04-05 10:38] gaurav-nelson commented on #20
@ruzickap Can you check now? hopefully this one is fixed now.

[2020-04-05 10:40] ruzickap commented on #20
Yes it is :-)

Thanks a lot...

[2020-04-05 10:43] ruzickap commented on #20
Maybe you should also update the README.md:

From

[code]

to

[code]

[2020-04-05 22:28] gaurav-nelson commented on #23
@philsturgeon @raunaqgupta You can update your workflows to use the latest build to get this feature:
[code]

[2020-04-09 01:49] gaurav-nelson commented on #9
Probably not a good idea as sometimes there are a huge number of broken links.

[2020-04-09 09:15] philsturgeon commented on #9
Can truncate your first X results.

On Thu, Apr 9, 2020 at 02:50, Gaurav Nelson <notifications@github.com> wrote:

[2020-04-10 00:02] gaurav-nelson commented on #9
Thanks @philsturgeon I thought, no one needs this feature. I'm opening this back again.

[2020-04-14 01:19] bflad opened #35 "Support for modifying find -name for Markdown files with .markdown extension"
## Description

Hi there 👋 This project looks great!

[Our project](https://github.com/terraform-providers/terraform-provider-aws/tree/master/website/docs) currently uses file names with a file extension ending `.markdown` instead of `.md`. Currently, the `find` command is hardcoded in the entrypoint to only work with `*.md`:

https://github.com/gaurav-nelson/github-action-markdown-link-check/blob

[2020-04-14 01:40] gaurav-nelson commented on #35
Thanks @bflad makes sense. Feel free to create a PR otherwise I'll take it on weekend.

[2020-04-14 02:27] bflad commented on #35
PR submitted: #36

[2020-04-14 18:07] bflad commented on #35
I verified this works with version 1.0.2. 💯

[2020-04-14 18:07] #35 closed

[2020-04-16 01:09] ChristopherA opened #37 "Warning "Cannot find mlc_config.json""
I've installed this action in my repo https://github.com/ChristopherA/Lists-of-High-Signal-Low-Noise-Links

I'm using the default suggested template in my `.github/workflows/check-actions.yml` file:

[code]

The script reports an a warning "Cannot find mlc_config.json" (for example see https://github.com/ChristopherA/Lists-of-High-Signal-Low-Noise-Links/runs/590748306?check_suite_focus=true):

[co

[2020-04-16 01:26] gaurav-nelson commented on #37
Thanks @ChristopherA

Its intended behavior. Its for cases when you get lots of false positives. In such cases, you can use the configuration file to specify rules to ignore some links, or replace variables and other tasks. See https://github.com/tcort/markdown-link-check#config-file-format for customizing.

I highlighted it so that no one panics if they see too may errors in the output.

[2020-04-16 01:26] #37 closed

[2020-04-16 01:30] ChristopherA commented on #37
Where do you put this configuration file if you are using your script as an action?

[2020-04-16 01:36] gaurav-nelson commented on #37
You can use the `config-file` variable to specify the path to the config file (filename doesn't matter).
for example, if the file is in the main directory.:
[code]

See https://github.com/gaurav-nelson/github-action-markdown-link-check#real-life-usage-samples for sample workflow files and usage

[2020-05-08 16:05] ruzickap opened #38 "Feature: Add exclude parameter"
Hello

Would it be possible to add the exclude parameter, which will skip the checks for certain files?

[code]

Thank you

[2020-05-08 23:02] gaurav-nelson commented on #38
Thanks @ruzickap yes it makes sense. I'll take this one next.

[2020-05-27 21:12] koppor opened #40 "Wrong filename output"
Output:

[code]

(Source: https://github.com/JabRef/jabref/pull/6524/checks?check_run_id=714600307)

The link with `YOUR_USERNAME` appears in a different file:

![grafik](https://user-images.githubusercontent.com/1366654/83072582-4f45a600-a06f-11ea-97c1-bf6cf5464dea.png)

Same for the other block:

![grafik](https://user-images.githubusercontent.com/1366654/83072613-5b316800-a06f-11ea-9290-1b66ade

[2020-05-28 01:07] gaurav-nelson commented on #40
Thanks @koppor for reporting this.

Can you please turn off the quiet mode and check the full log once?
[code]

For verbose mode, the script parses the whole output and lists errors, it might have some logic issue. The full log will help me debug the issue.

[2020-05-28 06:51] koppor commented on #9
Idea: Store the output in a variable (output at the step). Then, the user can use another action to create an issue: https://github.com/JasonEtco/create-an-issue

[2020-05-28 06:54] koppor opened #41 "Add support for multiple files"
Checking a whole repository takes much time.

markdown lint CLI solved that as follows:

[code]

Would it be possible to also support multiple parameters to the action? In my concrete case, I would like to check `README.md`, `CHANGELOG.md`, and `docs/` in one run.

[2020-05-28 07:54] koppor opened #42 "Add support for .gitignore"
Currently, ignored paths are hared-coded.

Would it be possible to read the `.gitignore` and ignore listed files and directories?

    find /docs -name '*.md' -not -path './node_modules/*'

(Not sure how hard this is. Just an enhancement idea. Low priority. Just thought of it as workaround for #41)

[2020-05-28 07:56] koppor commented on #40
It's not as easy as I thought:

![grafik](https://user-images.githubusercontent.com/1366654/83114553-63b68c80-a0c9-11ea-82f7-899089226b51.png)

Did I configure something wrong?

[code]

[2020-06-05 09:46] Andarist opened #43 "Allow `check-modified-files-only` to be used in combination with `file-extension`"
As far as I can tell this:
https://github.com/gaurav-nelson/github-action-markdown-link-check/blob/820c0581641b6e2fb34ae4d5f93ef4d841fb37e6/entrypoint.sh#L109-L117
is ignoring `file-extension` option altogether.

I would prepare a PR adding this functionality, but unfortunately, bash scripting is not my strongest suit. If nobody picks it up I might come back to take a stab at implementing this but

[2020-06-05 16:43] JoshOrndorff opened #44 "Ignore patterns"
It would be great to have ignore patterns as described here https://github.com/tcort/markdown-link-check#config-file-format

As a concrete use case, I often link to crates.io. It always comes back as 404 to the link check (not sure why, also happens to other link checkers) and being able to ignore the entire site as opposed to individually annotating links with `` would be a big win.

[2020-06-05 17:02] JoshOrndorff commented on #44
Oh I see the option to specify a config file now.

[2020-06-05 17:02] #44 closed

[2020-06-05 17:20] JoshOrndorff commented on #40
I also encountered this here https://github.com/substrate-developer-hub/recipes/runs/743069911

The issue happens in quiet mode but goes away when I disable quiet mode.

[2020-06-05 17:23] JoshOrndorff opened #45 "Enabling options causes false positives"
I'm enabling this action on my repo in this PR https://github.com/substrate-developer-hub/recipes/pull/287

You can see in the last three commits that I have fixed all links so that the link checker passes (b07b54b). Then I enable to config file and CI fails reporting broken links (aca0ad6). Then I disable the config file and the CI passes again (d87a476).

Enabling quiet mode also caused false po

[2020-06-06 11:23] #43 closed

[2020-06-06 19:21] Andarist commented on #43
@gaurav-nelson thank you for implementing this! much appreciated ❤️

[2020-06-07 00:08] gaurav-nelson commented on #43
Thanks @Andarist I'll mark it as release soon. Thanks for identifying.

[2020-06-07 00:32] gaurav-nelson commented on #45
Thanks @JoshOrndorff I've released version 1.0.3 to fix this. Also, updated the v1 tag to point to this release.

[2020-06-07 00:32] #45 closed

[2020-06-07 00:32] gaurav-nelson commented on #40
Thanks @koppor  @JoshOrndorff

I've released version 1.0.3 to fix this. Also, updated the v1 tag to point to this release.

[2020-06-07 00:32] #40 closed

[2020-06-08 10:25] Andarist opened #48 "`check-modified-files-only` filtering files incorrectly"
Followup to https://github.com/gaurav-nelson/github-action-markdown-link-check/issues/43

This always compares against the last 3 characters whereas it should compare against the length of `FILE_EXTENSION`:
https://github.com/gaurav-nelson/github-action-markdown-link-check/blob/ee0afb2ca1dadae734bc9c35ada78d8cc77d12e8/entrypoint.sh#L84

[2020-06-08 10:55] gaurav-nelson commented on #48
🤦‍♂️

[2020-06-08 16:00] JoshOrndorff commented on #40
Confirmed this is working for me. Thank you.

[2020-06-09 08:16] gaurav-nelson commented on #48
@Andarist Can you please check it with the commit ID using:
[code]

Want to confirm that the fix works before releasing it this time 😉

[2020-06-09 08:24] gaurav-nelson commented on #48
Also I see a couple of PRs in the repository at https://github.com/livechat/livechat-public-docs
I'd love to see it work on Gatsby sites by don't yet figured out how to deal with slugs that don't always represent full file path.

[2020-06-09 11:00] Andarist commented on #48
I'm afraid it doesn't work 😅
https://github.com/livechat/livechat-public-docs/runs/753428367#step:4:16
There seems to be a syntax problem here:
https://github.com/gaurav-nelson/github-action-markdown-link-check/blob/0eb8a0e224e615e79bd91aae102f726ccd6a8ad8/entrypoint.sh#L21

Hm, I was just trying to help out our content writer and I'm not involved in this project (I don't know how exactly it's set

[2020-06-10 20:42] JoshOrndorff opened #50 "False positives"
[this CI job](https://github.com/substrate-developer-hub/recipes/pull/294/checks?check_run_id=759376298) is failing becuase broken links are reported. In reality the links are working.

[2020-06-11 14:30] JoshOrndorff commented on #50
Update, the failures went away when I linked to https://substrate.dev instead of just substrate.dev

I'll leave the issue open because either:
1. This is a bug and should be fixed
2. This is the intended behaviour and should be documented

[2020-06-14 20:26] koppor commented on #50
I think, it is not easily possible to detect that `substrace.dev` is a proper link. `https://substrate.dev` is recognized as link.

GitHub Flavored Markdown only supports autolinking when the text starts with `www.`: https://github.github.com/gfm/#extended-www-autolink. See also your comment above. The text `substrate.dev` is not converted to a hyperlink.

[2020-06-14 21:33] koppor opened #52 "No errors output if path is not existent"
The latest version of the action (updated version of https://github.com/gaurav-nelson/github-action-markdown-link-check/pull/51) does not report errors any more:

![grafik](https://user-images.githubusercontent.com/1366654/84604450-6f120200-ae96-11ea-9e54-12f20aca7d7e.png)

Am I using it somehow wrong?

[2020-06-15 16:19] JoshOrndorff commented on #50
Good to know about those autolinks. Thanks for showing me that.

But the links in my repo that were reported borken were not auto-linked. They were linked explicitly like `[Some anchor text](substrate.dev/whatever)`.

I'm not stuck anymore, so close this if you like the way it works, but it seems like an issue to me.

[2020-06-15 23:32] gaurav-nelson commented on #48
@Andarist Can you please check it again using
[code]

I think this will work.

[2020-06-15 23:33] gaurav-nelson commented on #52
@koppor Can you please check if it works with:
[code]

I'll update the release tag if it does. Thank you.

[2020-06-15 23:47] gaurav-nelson commented on #50
I think this issue deal more with how https://github.com/tcort/markdown-link-check handles the links. Glad that you found a way around to fix those links. I am closing this issue as it doesn't directly relate to the GitHub action.

[2020-06-16 00:09] #50 closed

[2020-06-16 05:19] koppor commented on #52
Same result:

![image](https://user-images.githubusercontent.com/1366654/84734607-9f929280-afa1-11ea-83e4-bf2e76fe9522.png)

[2020-06-16 08:11] gaurav-nelson commented on #52
@koppor Can you point me to the actual log? Usually results appear after those lines.

[2020-06-16 09:50] Andarist commented on #48
It doesn't crash, but doesn't work as expected. It has reported that all links are good here: https://github.com/livechat/livechat-public-docs/runs/775941325?check_suite_focus=true#step:4:29

whereas when running:
[code]
I get a report about 7 dead links

[2020-06-16 16:04] MichaelCurrin opened #55 "Remove flux from real world examples"
I noticed the README.md points to this file:

https://github.com/fluxcd/flux/blob/master/.github/workflows/docs.yaml

But that uses an NPM package `markdown-link-check` and then the action `peter-evans/link-checker@v1` in the flow. So it is no longer accurate to refer to flux as a real world example.

[2020-06-16 19:39] koppor commented on #52
Here you go https://github.com/JabRef/jabref/pull/6542/checks?check_run_id=777818031.

Maybe the `/docs` is a wrong path. Need to investigate.

Maybe, `|| echo "ERROR: find terminated"` should be added to the call to `find`.

Yeah, it really was the case. Fixed and now errors are output again: https://github.com/JabRef/jabref/pull/6542/checks?check_run_id=777883106

[2020-06-26 15:26] gleb-kosteiko opened #56 "Feature request: Add handling of "429 Too Many Requests" response"
Hi, thank you for your nice checker!

I'd like to ask you to add new feature: ability to configure handling of cases when due to huge amount of requests the server starts to response with "429 Too Many Requests".

Here is my case - https://github.com/gleb-kosteiko/belarusian-it-communities. There are a bunch of links to Twitter accs and they are all alive. But in some moment for the rest of the tw

[2020-06-26 21:45] gleb-kosteiko opened #57 "Status: 403 Forbidden for link in markdown link check, and 200 Ok in curl"
Hi,
When I run markdown link check as Github Actions job I get failed job run with Status 403 for the link https://salesforce.by in logs. But when I check that link  with curl on my local machine I get 200 Ok  response code:
[code]

[2020-07-01 04:30] gaurav-nelson commented on #56
Thank you @gleb-kosteiko for creating the issue. However, this issue is with the underlying `markdown-link-check` utility. Can you create an issue at https://github.com/tcort/markdown-link-check/issues and close this one? Thank you.

[2020-07-01 04:30] gaurav-nelson commented on #57
Thank you @gleb-kosteiko for creating the issue. However, this issue is with the underlying markdown-link-check utility. Can you create an issue at https://github.com/tcort/markdown-link-check/issues and close this one? Thank you.

[2020-07-01 04:31] gaurav-nelson commented on #55
Thanks @MichaelCurrin . Fixed it!

[2020-07-01 04:31] #55 closed

[2020-07-01 07:27] gleb-kosteiko commented on #57
Ok, thank you! I opened the new issue in markdown-link-check repo - [Status: 403 Forbidden for link in markdown link check, and 200 Ok in curl #97](https://github.com/tcort/markdown-link-check/issues/97).

[2020-07-01 07:27] #57 closed

[2020-07-01 20:03] bryancross opened #58 "Support for authentication?"
I'm trying to use this against GitHub repos protected by SAML and need a way to navigate GitHub Authentication.  Any support for auth?

[2020-07-01 23:15] gaurav-nelson commented on #58
@bryancross Thanks for creating the issue.
- try using `httpHeaders` option in your configuration file maybe (PS: PS https://github.com/tcort/markdown-link-check/issues/18)

Since this issue is with the underlying markdown-link-check utility. Can you create an issue at https://github.com/tcort/markdown-link-check/issues and close this one? Thank you.

[2020-07-01 23:48] bryancross commented on #58
@gaurav-nelson will do.  Obvs can't put a token in the header file, will need to figure out a way to do this with a secret.  Thanks for getting back to me.

[2020-07-01 23:48] #58 closed

[2020-07-24 20:40] adlerjohn opened #59 "Release 1.0.4 to marketplace"
The latest version on the marketplace is `1.0.3`, but the latest tag is `1.0.4`.

[2020-07-25 00:59] gaurav-nelson commented on #59
Thanks @adlerjohn I've been a bit busy lately and didn't look at this one. Thanks for creating the issue. You'll now see v1.0.4 in marketplace.

[2020-07-25 00:59] #59 closed

[2020-07-25 01:04] adlerjohn commented on #59
Thanks!

[2020-07-27 00:32] gaurav-nelson commented on #41
@koppor

Currently, when we specify any folder using the `folder-path` option, it gets inserted into the find command as
`find <folder-path-value> -name "*.<extension>"`.

You can use the `folder-path` option to include additional folders. For adding additional files you can specify `folder-path` value as:
[code]

- it must end with `-o` to complete the command.

so the final command that executes

[2020-07-28 07:00] koppor commented on #41
I tried it at

The call adds `'` around:

   find 'docs/ -iwholename CHANGELOG.md -o -iwholename README.md -o' -name '*.md' -not -path './node_modules/*' -exec markdown-link-check '{}' --config mlc_config.json -q ';'

See https://github.com/JabRef/jabref/pull/6720

- https://github.com/JabRef/jabref/pull/6720/files#diff-b234c60c7dea9810fd23359a91cc9938L20
- https://github.com/JabRef/jabref/pull/67

[2020-08-06 14:15] Matticusau opened #63 "File Extension test doesn't match with default on check-modified-files-only"
I have been using this config:

[code]

While my own tests work locally with the command line tool, the action workflow never checks any file.

I forked the repo and added a bit of `echo` logging so i could test exactly what was going on. The extension test fails as it strips the leading `.` off the extension of the modified file as shown in this screen shot.

![image](https://user-images.githubus

[2020-08-07 02:56] #63 closed

[2020-08-07 02:57] gaurav-nelson commented on #63
Thanks @Matticusau for reporting and debugging. I've fixed it with #64, will publish soon.

[2020-08-07 03:01] gaurav-nelson commented on #48
Closing this one as well. #64 fixes this. Now it compares all file extension
[code]

[2020-08-07 03:01] #48 closed

[2020-08-09 12:18] gaurav-nelson commented on #41
@koppor Can you check if the following commit resolves this issue?
[code]

PS: https://github.com/gaurav-nelson/github-action-markdown-link-check#check-multiple-directories-and-files

I'll release a new version if that works well.

[2020-08-10 22:36] Matticusau commented on #9
Agree if the output is a variable/file I could easily write an action that would pick that up and create a comment in the PR, maybe just with the first 10 items or something to not clutter the PR discussion.

The workflow I am thinking about is that while the check fails, going to the details of the action is not something the average markdown writer might be comfortable doing, in one of my projec

[2020-08-18 09:44] koppor commented on #41
Works! Thank you!

The documentation should mentation that `./` in front of filenames is really important. Without that, it does not work.

Long test report:

I configured the output as follows:

[code]

The call is as follows:

[code]

The output is as follows:

[code]

[2020-08-18 12:19] #41 closed

[2020-08-18 12:23] #56 closed

[2020-08-18 12:24] gaurav-nelson commented on #52
@koppor this should be gone as well, Can you check?

[2020-08-18 17:05] koppor commented on #52
Fails without error message:

![grafik](https://user-images.githubusercontent.com/1366654/90543280-b6ae5600-e185-11ea-97df-c67f9e55ac4f.png)

See https://github.com/koppor/jabref/pull/458/checks?check_run_id=999417774 (from https://github.com/koppor/jabref/pull/458) for details.

Think, this is OK.

[2020-08-18 18:16] koppor commented on #41
May I ask for a new release tag? 😇

[2020-08-18 22:41] gaurav-nelson commented on #41
I'll bump it today.

[2020-08-19 00:16] gaurav-nelson commented on #52
I am reopening this one, looks like an easy fix, since I separated handling of files and folders, I can add a little check to fail with error if any specified file or folder doesn't exist.

[2020-08-19 04:56] #52 closed

[2020-08-20 09:34] gaurav-nelson opened #69 "Link check fails for deleted markdown files"
Based on https://github.com/efdevcon/DIPs/issues/20

Current it finds modified files with
[code]

It should check only for `modified` and `added` files, not `deleted` ones.

[2020-08-20 09:35] #69 closed

[2020-09-08 16:14] baileye opened #71 "mailto links failing"
mailto links are failing the link check.

This can be seen in this repo in PR #70

[2020-09-08 21:06] zlesnr commented on #71
We're also bumping into this.

[2020-09-08 23:57] gaurav-nelson commented on #71
Thanks @baileye for creating the issue. However, this issue is with the underlying `markdown-link-check` tool.
PS: https://github.com/tcort/markdown-link-check/issues/86

Validating emails fails when an email address is placed between the `<` and `>` symbols (_which is correct based on the Markdown specification_).

**Workaround**
- Write emails as normal links, for example: `[email@example.com](m

[2020-09-08 23:57] #71 closed

[2020-09-09 01:16] gaurav-nelson commented on #71
@baileye  @zlesnr  Hopefully https://github.com/tcort/markdown-link-extractor/pull/12 will fix this.

[2020-09-09 09:40] baileye commented on #71
Thanks @gaurav-nelson, I'll wait for your PR to be merged in the `markdown-link-check` repo

[2020-09-22 01:18] polarweasel opened #72 "check-modified-files-only ignores the folder-path"
If I set `check-modified-files-only: true`, the link checker ignores the `folder-path` I have set.

Here's the workflow:

[code]

This repository includes a bunch of old files that we're not publishing, in a folder called `.unpublished`. These files are bound to have dead links.

Sample run output. Note the FOLDER_PATH, and the *very first file it checks*:

[code]

[2020-09-29 12:39] Yiyiyimu opened #73 "feature: tcort side just support `retry` for 429 error"
Thank you for your help! This repo is so helpful.

This feature is just supported in https://github.com/tcort/markdown-link-check/pull/106 and others urged it in #56 . Hope it could be also supported on this side.

[2020-09-29 12:55] Yiyiyimu commented on #73
It seems not a problem, we could add it into config.json. My mistake, close.

[2020-09-29 12:55] #73 closed

[2020-10-07 09:17] MoSattler opened #74 "How to make it work with local links?"
Hi!

I seem to have a problem where it does not work with local links:
https://github.com/MoSattler/blog/runs/1219534102#step:4:29

Any idea what I might be doing wrong?

[2020-10-07 09:28] gaurav-nelson commented on #74
Thanks @MoSattler

It does check for local references and images, but the failing links include the path `/media/…`. And there is no media folder in your repository.

Maybe you can ignore those links by using the [`config-file` option](https://github.com/gaurav-nelson/github-action-markdown-link-check#custom-variables) and specifying a custom ignore file.
[code]

It's a bit tricky with Gatsby if y

[2020-10-08 09:03] pberthonneau opened #75 "skip HTTP 429 errors"
Hello

I had a case of ERROR: 1 dead links found! for a [Status: 429](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/429): Too Many Requests.
Is there a way to ignore such intermittent error?

Thanks

[2020-10-08 21:27] gaurav-nelson commented on #75
Thank you @pberthonneau for creating the issue. However, this issue is with the underlying `markdown-link-check` utility.
PS: https://github.com/tcort/markdown-link-check/issues/114

I see that it's recently closed with a fix, but not yet included in the main release. Once its sorted and released I'll update the `markdown-link-check` version in `github-action-markdown-link-check` to fix this one.

[2020-10-08 23:32] pberthonneau commented on #75
Thanks. I had not dived into dependencies.
https://github.com/gaurav-nelson/github-action-markdown-link-check/blob/95d5f3b63d2ca8e93f527396308c41e70634e2e7/entrypoint.sh#L11
I'm not interested by retries, then I have created a mlc_config.json with "aliveStatusCodes": [200,206,429]
Hopefully it works because aliveStatusCodes is here for a long time, but who knows with 429.

[2020-10-08 23:32] #75 closed

[2020-10-20 08:08] TGotwig opened #76 "🧐 Detects working links as not working for danielecook/Awesome-Bioinformatics"
Hello there 🙋‍♂️

This Action doesn't work very well with https://github.com/TGotwig/Awesome-Bioinformatics/tree/patch-2

The output is sometimes quite random from run to run and has always working links showing as not working 🤔

[code]

What it should look like:
[code]

[2020-10-21 01:17] gaurav-nelson commented on #76
Thanks @TGotwig
GitHub (and some other sites) return [a Status: 429: Too Many Requests](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/429)

To fix this, just accept the status 429 as alive, use the `config-file` option and specify the following in your  `mlc_config.json` file:
[code]

[2020-10-21 01:18] gaurav-nelson commented on #74
@MoSattler any updates on this?

[2020-10-21 01:31] gaurav-nelson commented on #76
@TGotwig before you try that, just re-run the check again, I've updated the `markdown-link-check` dependency to the latest version and that might resolve the issue. Please confirm if it does, otherwise try the solution in my previous comment. :+1:

[2020-10-21 16:42] TGotwig commented on #76
Ahh yeah makes sense!

So now I still get:
[code]

Hmm the first two are working fine 🤔

[2020-10-21 23:23] gaurav-nelson commented on #76
@TGotwig

I can't get to any of those links to work. Seems right to me.

[2020-10-22 22:27] TGotwig commented on #76
This gif proves that the first two are working 🧐 But yeah sometimes the second one loads very slow 🐌

![ezgif-3-095319eb7dd6](https://user-images.githubusercontent.com/30773779/96936011-91133500-14c5-11eb-820c-7462a0095873.gif)

[2020-10-22 23:16] gaurav-nelson commented on #76
Thanks @TGotwig for the GIF. I still can't reach out to `http://nextflow.io`. Maybe ignore these domains if you think they are working.
[code]

[2020-10-23 05:14] anwesh-b opened #78 "It would be better to have lines for error."
Currently, we cannot see in which line is the error is in. It would be better if we could see in which line the link existed.

[2020-10-23 06:37] TGotwig commented on #76
Hmm maybe this is country specific or so, thanks for the tip with `ignorePatterns` 👍

[2020-10-23 06:54] TGotwig commented on #76
Because of `ignorePatterns`, why are there two keys with the same name `pattern`?
Wouldn't it be better when passing raw strings into `ignorePatterns`?

With that I still get:
[code]

[2020-11-03 08:46] MoSattler commented on #74
@gaurav-nelson thank you, you were right, my mistake!

[2020-11-03 08:46] #74 closed

[2020-11-07 14:08] praneesha opened #79 "Checking Links in HTML Files"
@gaurav-nelson - Good job on writing this link checker.

Can I use this to check links in HTML files as well?

[2020-11-10 21:55] MarekLani opened #80 "Config file is ignored"
Sorry I overlooked issue already created, so this was duplicate to  https://github.com/gaurav-nelson/github-action-markdown-link-check/issues/75 so closing this one/

[2020-11-10 22:23] MarekLani commented on #75
Does not work with 429 unfortunately

[2020-11-10 22:26] #80 closed

[2020-11-11 02:52] gaurav-nelson commented on #79
Thanks @praneesha Nope, it only works on Markdown files. See https://github.com/peter-evans/link-checker for HTML

[2020-11-11 02:52] #79 closed

[2020-11-11 02:58] praneesha commented on #79
@gaurav-nelson - Thanks for the reply! Unfortunately, https://github.com/peter-evans/link-checker doesn't support [handling the "Too Many Requests - HTTP error 429](https://github.com/peter-evans/link-checker/issues/33)".

Do you know of another good link checker to check both MD and HTML files?

[2020-11-11 03:07] gaurav-nelson commented on #79
@praneesha May check the ones listed at https://github.com/marketplace?type=actions&query=link+check
I never dealt with checking HTML files.

[2020-11-11 03:42] praneesha commented on #79
@gaurav-nelson - Sure. Thanks a lot!

[2020-11-14 16:06] musicEnfanthen commented on #9
Hi there, thanks for this helpful and thorough action.

Was looking for a way to get the output of the link check and stumbled over this issue. Would support an option that exposes the output to another step like @koppor proposed. Thus, the decision where the output should finally be sent to (PR, issue, cache, artifacts, file, etc.)  could be left open to the consumer of the action.

[2020-11-14 20:16] koppor commented on #9
There is also a [Comment on PR GitHub Action](https://github.com/unsplash/comment-on-pr). I had difficulties getting it running for PRs of contributors having read-only access only.

[2020-11-19 16:40] tjperry07 opened #81 "Having trouble running link check"
I've got my link check set up with some broken links in my Readme. It's not flagging them as broken. Anything I could be missing?

[code]

PR where the link check returned OK instead of broken links. https://github.com/tjperry07/vale-setup/pull/26

[2020-11-19 22:52] gaurav-nelson commented on #81
Thanks @tjperry07

Can you try running without the quite mode?

[code]

[2020-11-20 15:49] tjperry07 commented on #81
Success!

[code]

[2020-11-21 01:36] #81 closed

[2020-11-23 09:26] gaurav-nelson commented on #76
PS: https://github.com/gaurav-nelson/github-action-markdown-link-check#too-many-requests

Its an issue with the underlying library.

[2020-11-23 09:26] #76 closed

[2020-11-27 12:46] tfayyaz opened #82 "Readme with broken links still passes"
I am testing this with some broken links as seen [here](https://github.com/tfayyaz/company-data-blogs) but everything still passes. This is the action .yml file

[code]

I cannot see what might be wrong in my .yml file to get this working?

Is there a way to see what urls have been tested?

Thanks
Tahir

[2020-11-27 15:19] tfayyaz commented on #82
I managed to resolve this my using the following instead:

[code]

[2020-11-27 15:19] #82 closed

[2020-12-02 16:38] musicEnfanthen opened #83 "How to handle Jekyll liquids?"
Hi,

we have an email link in markdown using Jekyll liquids like this:

`[email](mailto:{{ site.email }})`

The link check action recognizes this as a dead link. Is there a way to make it work with this kind of syntax?

[2020-12-02 23:27] gaurav-nelson commented on #83
Thanks @musicEnfanthen

- You can use `` comment in your docs . PS https://github.com/gaurav-nelson/github-action-markdown-link-check#disable-check-for-some-links

OR

- Specify a [config file](https://github.com/tcort/markdown-link-check#config-file-format) and use:
[code]

[2020-12-03 14:05] musicEnfanthen commented on #83
Thanks a lot, the ignore pattern works perfectly!

[2020-12-03 14:06] #83 closed

[2020-12-07 13:19] oncleben31 opened #84 "False positive error raised (because of link-check@4.5.3 dependency of markdown-link-check)"
In my  one of my repository I use this action (see [workflow configuration](https://github.com/oncleben31/home-assistant-config/blob/master/.github/workflows/HA-config.yml)

Since few days I have this error at each run:
[code]
If I clic the link  in the action log, the expected image is displayed. I don't understand why the script detect a 404 error.

[2020-12-07 16:11] philrz commented on #84
I hit this as well and did a little more digging. It looks like a dependency changed, as https://github.com/tcort/markdown-link-check/issues/142 describes other people running into issues with URLs containing `%`, and this project appears to depend on that tooling. So hopefully when that gets fixed we'll be fixed also.

[2020-12-07 23:06] oncleben31 commented on #84
Perhaps the action code should pin the dependency version to avoid this type of regression

[2020-12-08 16:24] TriplEight opened #85 "Link with %20 has 404ed"
Tried reverting to 1.0.2 and 1.0.7 because of the different version of the dependency.
Finally had to
[code]
in `mlc_config.json` as a workaround.

Potentially connected with https://github.com/tcort/markdown-link-check/issues/142

[2020-12-09 00:20] gaurav-nelson commented on #85
Thanks @TriplEight Closing this, duplicate of #84

[2020-12-09 00:20] #85 closed

[2020-12-09 14:19] NicolasMassart commented on #84
The issue is now fixed in the master branch of tcort/link-check, see tcort/link-check#34 and will be available in the next release. Thanks for your patience!

[2020-12-09 23:54] #84 closed

[2020-12-09 23:54] gaurav-nelson commented on #84
Fixed in 1.0.9

[2020-12-10 21:22] bpkroth opened #87 "Folders list broken due to quotes"
FYI: this change which adds quotes around the `"${FOLDERS}"` list passed to `find` breaks when multiple folders are used.
https://github.com/gaurav-nelson/github-action-markdown-link-check/commit/53c1dda67d2de0a25bbdce0b1a4054cfbb468b32

Here's an example in case it helps:
https://github.com/microsoft/MLOS/pull/205/files

[2020-12-11 03:17] #87 closed

[2020-12-12 21:49] pauloribeiro-codacy commented on #9
I also found this issue while thinking about making the suggestion of (optionally) writing the output to a file. Like this, it would be possible to use an action like [peter-evans/create-issue-from-file](https://github.com/peter-evans/create-issue-from-file) to automatically open an issue if a scheduled run found a broken link.

[2020-12-12 22:43] koppor opened #90 "No errors output"
I think a last update broke the tool:

![grafik](https://user-images.githubusercontent.com/1366654/101996543-af323000-3cd3-11eb-8d21-00acd443b344.png)

(Source: https://github.com/JabRef/jabref/pull/7181/checks?check_run_id=1543722075)

Where can I read the broken links at the output? I think, with older versions, the wrong links were output, weren't they?

[2020-12-14 00:20] gaurav-nelson commented on #90
@koppor Can you retry?

[2020-12-15 03:14] gaurav-nelson opened #91 "Create a v2 using GitHub Actions toolkit"
Currently, the action uses the markdown-link-check CLI tool and executes a bash script. Over time the bash script has become too long to manage and test. Changes often result in breaking some or other functionality.

As we advance, I think it's best to create a v2 of this action using the [GitHub Actions toolkit](https://github.com/actions/toolkit).

[2020-12-27 19:06] jsoref commented on #75
It looks like the upstream fix was https://github.com/tcort/markdown-link-check/commit/21983da627c35f2611d2a539dfb26edb1288c3ad which should be available in https://github.com/tcort/markdown-link-check/releases/tag/v3.8.4 and that should have been pulled in by #86.

It'd be really nice if there were documentation (in this repo) for how to use `aliveStatusCodes` to ignore `429`.

(I'm hitting it in

[2021-01-01 23:25] robmoffat opened #92 "Specify error codes that cause a failure."
I have a couple of links that fail like this:

[code]

The links themselves are fine, it's just the server doesn't support the GET request.  Can there be some way to configure which 4XX codes result in an error?

Awesome plugin by the way, really getting a lot of value with this!

[2021-01-03 13:33] robmoffat opened #93 "Why is this an error?"
ERROR: 1 dead links found!
241
[✖] http://bigocheatsheet.com → Status: 0

This works when I load the page, so why can't the link checker open it?

thanks,
Rob

[2021-01-09 22:38] ligi opened #94 "Link checker checks removed URLs"
On this PR: https://github.com/efdevcon/DIPs/pull/57
The PR is removing some URLs that are broken (great find by the link checker in the first place)
Unfortunately it still fails in the PR seems it picks up URLs before the change in the PR?

[2021-01-10 01:07] ligi commented on #94
sorry - my bad - seems the URLs have been in there twice

[2021-01-10 01:07] #94 closed

[2021-01-10 23:44] gaurav-nelson commented on #93
Thanks @robmoffat I'm not sure, can you add a link to the action run?

[2021-01-10 23:53] gaurav-nelson commented on #92
You can't specify which codes will result in an error, but you can specify which status codes are alive.

You can use `aliveStatusCodes` option in your custom configuration file (`mlc-config`).
- `aliveStatusCodes` a list of HTTP codes to consider as alive.

[code]

[2021-01-10 23:53] #92 closed

[2021-01-11 00:29] gaurav-nelson commented on #75
@MarekLani @jsoref Can you please check again with github-action-markdown-link-check `v1` or `1.0.12` if your issue is sorted?
- I've updated the library to markdown-link-check version `3.8.6`.

[2021-01-11 00:35] gaurav-nelson commented on #78
Thanks @anwesh-b The underlying `markdown-link-check` library uses [markdown-link-extractor](https://github.com/tcort/markdown-link-extractor ) to extract all the links. Which only extract links from markdown, without passing any other information, such as line numbers. So unfortunately, it would be too much work to do get that info here. I request you to please see https://github.com/tcort/markdo

[2021-01-11 00:35] #78 closed

[2021-01-11 01:35] jsoref commented on #75
@gaurav-nelson: do you happen to have a handy example for how to ignore `429`s?

For reference, I hit it here: https://github.com/netdata/netdata/pull/10428/checks?check_run_id=1613144906

The [netdata/netdata](https://github.com/netdata/netdata) repository has [lots of links to GitHub](https://github.com/netdata/netdata/search?l=Markdown&q=%22https%3A%2F%2Fgithub.com%22&type=) PRs/Issues and this

[2021-01-11 01:43] gaurav-nelson commented on #75
Thanks @jsoref I suggest you use the updated action `gaurav-nelson/github-action-markdown-link-check@v1` which supports `retryOn429`, `retry-after`, r`etryCount`, and `fallbackRetryDelay` in your custom configuration file. See https://github.com/tcort/markdown-link-check#config-file-format for details.

For  a handy example, you can mark 429 as alive by adding the following in your custom configur

[2021-01-11 02:17] jsoref commented on #75
That doesn't do what one would hope:
[code]

[2021-01-11 02:22] jsoref commented on #75
Also fun:
https://github.com/check-spelling/netdata/runs/1678746061?check_suite_focus=true#step:4:3240
[code]

[2021-01-11 02:27] gaurav-nelson commented on #75
@jsoref Probably include 200 in `aliveStatusCodes` as well `"aliveStatusCodes": [429, 200]`

[2021-01-11 02:30] jsoref commented on #75
Ok, with that, the repo stops being frustrating (I was trying it before you suggested it, but it was worth noting that the advice you gave didn't work as-is).

[2021-01-11 08:59] robmoffat commented on #92
perfect, thanks

[2021-01-11 13:38] simonsan opened #96 "URL encoding problems during checks"
Gives a `400 - Bad request` on check:
[code]

Is fine:
[code]

[2021-01-12 09:04] gaurav-nelson commented on #96
@simonsan Thank you for reporting this. I've created an issue about this in the underlying library, hopefully this will be resolved soon.

[2021-01-12 09:10] gaurav-nelson commented on #90
Looks like the latest version fixed this issue. Based on https://github.com/JabRef/jabref/pull/7181/checks?check_run_id=1676810768
![image](https://user-images.githubusercontent.com/23069445/104293559-da45b480-5509-11eb-98ec-c6106b14bb4d.png)

[2021-01-12 09:10] #90 closed

[2021-01-12 09:12] gaurav-nelson commented on #72
@polarweasel Could you report if this is still an issue with version 1.0.12 ?

[2021-01-12 09:27] robmoffat commented on #93
https://github.com/risk-first/website/runs/1686997034?check_suite_focus=true

See line 216

[2021-01-12 09:28] robmoffat commented on #93
This report also shows the issues from #92 that I raised too

[2021-01-12 09:41] gaurav-nelson commented on #93
@robmoffat I guess these ones are because the use of `http` maybe server is returning that status. Same for other links like `http://amzn.eu/d/i0IDFA2`. Maybe try changing them to proper URLs with `https`.
- https://www.bigocheatsheet.com/

[2021-01-13 10:57] SteveMattar commented on #72
same for `file-path`

[2021-01-15 18:58] simonsan commented on #96
https://github.com/tcort/link-check/issues/40

Should be fixed, I think, so closing it. ;)

[2021-01-15 18:58] #96 closed

[2021-01-17 01:03] polarweasel commented on #72
@gaurav-nelson Figures, I just left that job this week :(

I will point a colleague to this issue and see if he can test!

[2021-01-19 15:29] sschuberth opened #97 "Action stuck in "Waiting for status to be reported" state"
I'm not sure whether it's related to the *github-action-markdown-link-check* itself, but since it's the only of our actions where we see this, I'm still reporting it here: For a few days now, we often see the PR check being stuck in the "Waiting for status to be reported" state in [our project](https://github.com/oss-review-toolkit/ort):

![image](https://user-images.githubusercontent.com/349154/1

[2021-01-20 01:50] gaurav-nelson commented on #97
Thanks @sschuberth I'm not so sure, probably GitHub CI issue. From https://github.com/oss-review-toolkit/ort/actions?query=workflow%3A%22Check+Markdown+links%22 it look's like the action completed in around ~50s for most runs.

[2021-01-20 06:01] sschuberth commented on #97
Yeah, like said I'm also not sure, but I wanted to check whether others have the same issue. If no one else replies within a few days I'm perfectly fine with closing this issue again.

[2021-01-20 10:29] gaurav-nelson commented on #97
Also, could have been https://www.githubstatus.com/incidents/rk5rhrklkdk3
- GitHub Actions is experiencing degraded performance. We are continuing to investigate.
Posted 22 hours ago. Jan 19, 2021 - 12:06 UTC

[2021-01-20 13:43] musicEnfanthen opened #98 "Exclude .github folder"
Hi again,

is it possible to exclude the `.github` folder itself? We have some [issue templates](https://github.com/musicEnfanthen/link-check-test/blob/main/.github/link-checker-issue-template.md) in markdown there, and the link checker does not handle the jekyll replacements.

Cf. https://github.com/musicEnfanthen/link-check-test/runs/1735121860?check_suite_focus=true#step:6:186

Already tried th

[2021-01-22 09:11] sschuberth commented on #97
It seems to be OK now again.

[2021-01-22 09:11] #97 closed

[2021-01-23 10:46] gaurav-nelson commented on #98
Thanks @musicEnfanthen for suggesting the updates. Let's take this as a part of #38

[2021-01-23 10:46] #98 closed

[2021-01-23 10:51] gaurav-nelson commented on #38
@ruzickap I've had some success with replacing `find` with `fd`.
`fd` allows an `.fdignore` file https://github.com/sharkdp/fd#excluding-specific-files-or-directories

What do you think about not adding another option to exclude files and folder, instead recommending users to create an `./.fdignore` file to skip specific files and folders?

[2021-01-23 11:35] ruzickap commented on #38
I'm not sure if it's good idea to add some files (`.fdignore`) into the repository only to exclude the files during tests.
I would prefer to have `variable` and optionally `.fdignore` to exclude files from being "tested".

Maybe others have different opinion about it...

[2021-01-23 13:12] musicEnfanthen commented on #98
@gaurav-nelson Thanks for taking care.

PS: Do you have an idea why the ignore pattern above doesn't work?

[2021-01-23 13:24] musicEnfanthen commented on #38
I would second that @ruzickap . The approach with `.fdignore` could lead to conflicts if another action also uses `fd` but you want to ignore (or not) different paths. Excluded files should preferably be limited to the individual action.

[2021-01-24 02:16] gaurav-nelson commented on #38
Thanks @ruzickap @musicEnfanthen for your inputs. I'll add it as a variable.

[2021-01-29 16:48] q5sys opened #101 "directory vs .md file"
I'm not 100% sure if this is something I'm screwing up or not, so if that's the case let me know what I'm doing wrong so I can fix it.

I'm using Hugo, so all .md files get turned into directories when built.
So if I have `/content/article/newthing.md` in my repo that will get turned into `website.com/content/article/newthing/` when built and published online

so if I want to link to that page fro

[2021-01-31 23:38] gaurav-nelson commented on #101
Thanks @q5sys for creating this issue. You can (maybe) handle this by using a custom config with the BASEURL option. In your custom configuration file use the following:
[code]

or
[code]

Try an let me know if that works, is your repository publicly available? Share a link here if it is.

[2021-02-01 16:01] q5sys commented on #101
Thanks for the reply, I'll try that when I get time. I'm a bit confused how using {{baseurl}} will make a difference in the `.md` vs `/` issue, but I'm willing to give anything a try if it helps resolve the issue.

The repo is public, its the TrueNAS Documentation repo, an example of the run throwing hundreds of errors is here:
https://github.com/freenas/documentation/runs/1735428478?check_suite_f

[2021-02-01 23:50] gaurav-nelson commented on #101
@q5sys

Here is an example to make it more clear.
- The link that fails in the `content/en/hub/sharing/smb/smb-share.md` document is `/hub/sharing/smb/smb1/` (based on [failed check output](https://github.com/freenas/documentation/runs/1735428478?check_suite_focus=true#step:4:84))
- When you'll use the `BASEURL` option, the link which the `markdown-link-check` checks, becomes `https://www.truenas.

[2021-02-02 00:24] gaurav-nelson commented on #101
The example in my previous comment will only work for existing published pages. You can also try the following:
[code]

I am not sure if it will work. However, the logic should replace `/` with `.md` and then insert the full path to actual md file.

[2021-02-02 15:02] q5sys commented on #101
Ok, thanks for the additional information. I should be able to get time today to work on it.

[2021-02-02 18:24] q5sys commented on #101
I tried out the substitution you suggested and while it did work, it ended up having the unintended consequence of breaking every link off site that we link to.  I tried various things to see what else I could work out, but I think this is going to take a much more complex regex, so I'll keep working on it.
Thanks for your suggestions.

[2021-02-02 18:57] q5sys commented on #101
Looking through the docs you have, I had an additional question.  You have a `replacementPatterns` as something that can be done with the config file, do you have something that would be a `ignorePatterns`, so that I could regex other more complicated links issues that I'm still running into?  I know I can ignore links in the markdown files themselves with your HTML code, but I was thinking of per

[2021-02-02 23:41] gaurav-nelson commented on #101
@q5sys Yes.
- You can use `ignorePatterns` PS https://github.com/tcort/markdown-link-check#config-file-format
- The example I listed was a sample, you can refine the regex even more to only replace specific links. For example, to only replace links that begin with `/hub/` and end with a `/` use the regex `(?<=^\/hub.+)\/$`.
- for links containing `#` you can also add another replacement
[code]

Pl

[2021-02-03 19:13] q5sys commented on #101
Thanks for the additional info, I really appreciate your help.  Is there anyway I can buy you a beer or a coffee? haha.   The replies you've given have definitely helped cleaned up a lot of the false positives that I was running into, but I'm still running into a few odd issues.  Once I get these figured out, I'll write up a little troubleshooting thing and do a PR into the ReadMe in your repo.

I

[2021-02-05 12:35] gaurav-nelson commented on #101
I tried your repository with https://github.com/gaurav-nelson/documentation/blob/8523b2584808e1db03dafef83fc39dae2560e669/static/config.json

The problems I see are:
1. All links in your site are lowercase vs some filenames are mixed case.
2. Some links point to folder names (which in turn show the file `_index.md`)

I think you'll need a custom script to cater for all these different cases.

[2021-02-09 07:41] ZdenekM opened #102 "Getting 404 for links that certainly work"
I checked the log and have no idea why does it happen. Also tried to re-run the check but the result was the same. Please see https://github.com/robofit/arcor2/pull/438/checks?check_run_id=1861222777. Many thanks for any tips.

[2021-02-09 23:53] gaurav-nelson commented on #102
Thanks @ZdenekM Most of the times websites block requests if too many requests are coming from a bot.

Currently, you can handle such URL's that you know are working by using the `config-file` option and providing a configuration file with the following:
[code]

Doing this ignores the 404s and let's your checks pass.

[2021-02-10 07:58] ZdenekM commented on #102
Unfortunately, most of the links in my READMEs are within GitHub. Would it be a solution to insert some (configurable) delay between requests? I don't care much how long the check lasts...

[2021-02-25 05:43] luiscachog opened #103 "Skip a folder"
Hello!

I'm using this Github action on a Hugo blog. But I want to skip a complete folder. For this case `/themes` and all the content.

[code]

How can I implement it?

[2021-03-03 14:44] q5sys commented on #101
I'm going to close this ticket out as its clear that this is not a bug it's just a complicated configuration issue.  Thanks for your assistance with tweaking the regex.

[2021-03-03 14:44] #101 closed

[2021-03-04 11:14] ZdenekM commented on #102
Could it be that the problem is in links containing `%2` as [this one](https://github.com/robofit/arcor2/releases/tag/arcor2%2F0.12.0)? It seems that other links within the repo are ok. See the report https://github.com/robofit/arcor2/runs/2030470582?check_suite_focus=true.

[2021-04-07 07:17] techwritermat commented on #72
@gaurav-nelson @polarweasel sorry it took so long, this is still an issue sadly

[2021-04-07 23:20] gaurav-nelson commented on #72
Thank @techwritermat I think I now understand what's going on, I'll try to resolve this.

[2021-04-07 23:52] polarweasel commented on #72
Awesome! I'm about to start using this action at Yugabyte too, and I can guarantee we'll hit the same issue, so it'd be great to have this one resolved. :)

[2021-04-20 19:54] EverlastingBugstopper opened #105 "Action checks `node_modules` directories unexpectedly"
with the following config:

[code]

i get errors for broken links in `node_modules` README files that I cannot control.

In my logs I see this:

[code]

It sure looks like the action is _trying_ to exclude `node_modules` by default, but it appears that if an npm package is not quite at the root, the `./node_modules` only looks for a top level directory, when they could most definitely be nested.

[2021-05-08 16:13] 94rain opened #106 "Updates to Real-life usage samples"
I ran a check on this repo itself and found the following dead links :P
[code]

It seems that lighthouse has moved the workflow configurations to https://github.com/GoogleChrome/lighthouse/blob/master/.github/workflows/cron-weekly.yml

And apisix removed it in apache/apisix#3992 :(.
How about persuading them to re-add it and run it weekly/monthly?

[2021-05-10 01:15] gaurav-nelson commented on #106
Thanks @94rain for the updates, I'll fix those links.

Lately, I've seen issues with the underlying library and depending on the use case this might not be the perfect solution in every scenario. So I don't think I can persuade them to add it back unless I know if it works perfectly for them.

[2021-05-10 01:22] #106 closed

[2021-06-17 00:36] polarweasel commented on #72
@gaurav-nelson any updates on this one?

[2021-06-17 02:27] gaurav-nelson commented on #72
@polarweasel Lately I've been busy with work. I was working on https://github.com/gaurav-nelson/github-action-markdown-link-check/pull/104 but didn't finish it. Right now I don't know when I can get back to this.

[2021-06-30 11:37] dvdstelt opened #108 "How to verify links to other private repos"
I have 2 private repos with documentation. RepositoryA has a .md file with a link to a .md file in RepositoryB.
GitHub actions in RepositoryA by default doesn't have access to RepositoryB. Is there a way to achieve this?

[2021-06-30 17:49] shreeshailaya opened #109 "Why this error?"
I'm using this workflow from the last couple of days its working fine now don't know why the following error occurred in the last few days
please refer
-  [action.yml](https://github.com/shreeshailaya/c-dac/blob/main/.github/workflows/action.yml)
-  [failed actions](https://github.com/shreeshailaya/c-dac/actions)
[code]

[2021-07-01 00:07] gaurav-nelson commented on #109
The actual error is at https://github.com/shreeshailaya/c-dac/runs/2955019327?check_suite_focus=true#step:4:269

[2021-07-01 00:30] gaurav-nelson commented on #108
Thank you @dvdstelt

I'm not 100% sure if it will work or if there are any security implications of using this approach.

- Maybe you can use `GITHUB_TOKEN` (https://docs.github.com/en/actions/reference/authentication-in-a-workflow) with the `httpHeaders` and `urls` options in your [`config.json` file](https://github.com/tcort/markdown-link-check#config-file-format).

[2021-07-01 02:45] shreeshailaya commented on #109
Thank you so much sir..

[2021-07-01 02:45] #109 closed

[2021-07-02 19:56] benmoss commented on #103
I think you have to use the config file and use `ignorePatterns` for this https://github.com/tcort/markdown-link-check#config-file-format

[2021-07-03 23:31] gaurav-nelson commented on #103
Currently there's no option to skip folders. However, you can list all folders and files you want to check by using the folder path variable. See https://github.com/gaurav-nelson/github-action-markdown-link-check#check-multiple-directories-and-files

[2021-07-06 17:03] jessesquires opened #110 "Fails for quoted links in markdown"
I have a scenario where link checking fails because links are quoted, and the final `"` is parsed as part of the link.

This happens when using a Jekyll include.

Example input:

[code]

Example output:

[code]

PR: https://github.com/techworkersco/techworkersco.github.io/pull/237

Logs: https://github.com/techworkersco/techworkersco.github.io/runs/3001155166

[2021-07-08 04:16] gaurav-nelson commented on #110
Thank you @jessesquires for creating this issue.

This issue comes from the underlying library this action uses `
markdown-link-extractor`. Which in turn uses `marked`.

PS:
- https://github.com/tcort/markdown-link-extractor/issues/13
- https://github.com/markedjs/marked/issues/1716

Its a known issue, and I suggest that you follow up on the original issues. Feel free to close this one.

[2021-07-08 17:21] jessesquires commented on #110
Ah, thanks @gaurav-nelson ! 💯

[2021-07-30 14:16] srknzl opened #112 "Anchors check"
Can you check anchors(internal links) as well?

[2021-07-31 03:02] gaurav-nelson commented on #112
Thanks @srknzl

`markdown-link-check` doesn't check anchor links, but there is some work going on. PS: https://github.com/tcort/markdown-link-check/issues/91

I'm closing this issue. Please follow that one.

[2021-07-31 03:02] #112 closed

[2021-08-14 22:00] byrnereese opened #113 "Is there a way to make this work for relative links within a mkdocs project?"
This looks like an excellent project. When I run it with my mkdocs repository, all of the relative links are marked as broken. I am wondering if there is a way for relative links to be resolved somehow?

[2021-08-15 23:04] byrnereese commented on #113
So I continue to work on this problem. I have adapted my workflow as follows.

First, I publish the mkdocs site to github pages. With this site up and running, in theory, links should resolve. However, I have no way to specify the base URL for relative links via the github action. So all of my markdown links are coming back as invalid. So my problem persists.

[2021-08-16 00:29] gaurav-nelson commented on #113
Thanks @byrnereese
The `markdown-link-check` library only checks hyperlinks. Can you provide a link to the failed tests?

You can configure a BASEURL using https://github.com/tcort/markdown-link-check#config-file-format

[2021-08-19 00:32] #110 closed

[2021-08-19 00:33] gaurav-nelson commented on #108
@dvdstelt Is this still an issue? Were you able to address it?
- If yes, can you share the configuration? I can maybe add it as an example in the README.

[2021-08-19 00:35] gaurav-nelson commented on #103
@luiscachog Were you able to try that out? can you share any updates?

[2021-08-19 08:47] dvdstelt commented on #108
It needs to be a code change, not possible via config alone, from what I can see.

[2021-08-19 23:31] gaurav-nelson commented on #108
@dvdstelt when you say:

Is it a hyperlink?

[2021-08-20 10:05] dvdstelt commented on #108
It is indeed a hyperlink. In my case to a different repo in within the same organization.

[2021-08-25 22:44] nathan-gt opened #117 "Features suggestions"
- Add the option to [echo a github actions warning for each broken link found](https://docs.github.com/en/actions/reference/workflow-commands-for-github-actions#setting-a-warning-message)
- Add the option to color code the console output to more quickly spot which links are broken (make broken links appear red)
- Add the option of displaying the total number of links that have been processed and s

[2021-09-13 19:05] btosello commented on #117
I want to search 3 differents extensions... like ".md, .markdown, .mdx" I dont find the way to do it

[2021-09-14 10:04] BasPH opened #118 "Whitespace in filename results in no file found"
I have a project with a whitespace in the filename. This results in a rather useless error "ERROR: File not found! Please provide a valid filename as an argument.". After digging, it turns out https://github.com/tcort/markdown-link-check tries reading the filename up to the whitespace, so excluding everything after. Code where the filename is provided is here: https://github.com/gaurav-nelson/gith

[2021-09-20 19:41] fharper opened #119 "Add the equivalent of a .gitignore for domain name"
Add the equivalent of a .gitignore for domain names. As an example, I know checking LinkedIn links with any link checker give an error 999, since you are not logged. I would like to be able to ignore all linkedin.com links in all markdowns by configuring this in a file or in the action itself. By doing that, I won't have to add the HTML comment to disable the links one by one in each file: easier,

[2021-10-11 19:23] shreeshailaya opened #120 "Unable to check on pull request"
unable to check links on pull request here is [config file](https://github.com/shreeshailaya/C-DAC-Notes/blob/main/.github/workflows/check_onpr.yml) and here is an [error log](https://github.com/shreeshailaya/C-DAC-Notes/pull/90/checks?check_run_id=3862900260)(fatal: couldn't find remote ref master)

[2021-10-14 01:11] gaurav-nelson commented on #120
Because your base branch is `main` you must specify it by using the `base-branch` variable.
[code]

[2021-10-17 15:36] rajbos opened #121 "Add a parameter to only report on failing links / or add a summary"
I'm checking a lot of links on a run, and finding the failed items in the logs becomes cumbersome (I can search for [x] in the text).

I would like to either have a setting that only shows information about the failed links (and thus hides all the stuff that worked).

-- or --

Add a summary of failed links at the end of the log (maybe a table with file / link / statuscode). That would finding the

[2021-11-26 12:13] srknzl opened #122 "Status 0 from java.com site"
See https://github.com/hazelcast/hazelcast-nodejs-client/runs/4333651919?check_suite_focus=true for failing CI.

Important part of the output:
[code]

Note: There is just one link to java.com in our markdown files.

Why do they block us? What to do? Thanks

[2021-11-28 23:22] gaurav-nelson commented on #122
@srknzl Thank you for creating the issue.

Some sites block requests from CI processes to prevent DoS attacks and seems like the case for this one. Unfortunately the underlying `markdown-link-check` tool has no mechanism to avoid such failures.

The only thing you can do to pass the test is to [disable check for the failing link](https://github.com/gaurav-nelson/github-action-markdown-link-check#d

[2021-11-28 23:22] #122 closed

[2021-12-10 14:51] fharper commented on #108
I would love to see that feature!

[2022-01-28 22:01] fharper commented on #119
You can do it by using the `ignorePatterns` in your configuration file.:

[code]

[2022-01-28 22:01] #119 closed

[2022-03-02 21:42] thanethomson opened #123 "Possible issue with fetching URLs with escape characters"
An example: https://github.com/tendermint/tendermint/runs/5398098062?check_suite_focus=true#step:4:57

Seems to be reliably reproducible. Continuously getting HTTP 400's only when trying to fetch https://en.wikipedia.org/wiki/TLA%2B

Could this be a problem with `markdown-link-check` itself?

[2022-03-05 04:50] Namyalg opened #124 "Add examples to the documentation"
The first time I used this action it was difficult to understand the nature of outputs obtained on a link that is broken and a one that is not.
I wanted to add examples to the documentation describing the above.

[2022-03-07 10:42] gaurav-nelson commented on #124
Thank you @Namyalg Feel free to create a pull request with changes.

[2022-03-09 14:00] Namyalg opened #125 "Display only the failing links"
Currently, in verbose mode, the entire log is returned, is there an option to filter out only the ones that fail?

[2022-03-10 03:03] Namyalg commented on #125
I figured `use-quiet-mode = yes` does the job, closing this issue

[2022-03-10 03:03] #125 closed

[2022-03-11 15:59] thanethomson commented on #123
Testing this locally with `markdown-link-check` confirms that this is due to using an outdated version. Updating to v3.9.3 fixes the problem.

[2022-03-14 06:56] #123 closed

[2022-03-15 02:01] gaurav-nelson commented on #121
@rajbos You can use the `use-quiet-mode` variable PS https://github.com/gaurav-nelson/github-action-markdown-link-check#custom-variables

[2022-03-15 22:54] rfay opened #127 "Lots of new failures since release 1.0.14"
Suddenly (apparently with release of 1.0.14) I get piles and piles of link-check failures.

See https://github.com/drud/ddev/runs/5561841543?check_suite_focus=true for example, but it's quite consistent.

* Several external links show as 503
* Several relative links to markdown files show 400 (but there are plenty that don't)

All the checks are in open-source stuff, you can easily see what's goin

[2022-03-15 23:10] rfay commented on #127
Rolling back to 1.0.13 in https://github.com/drud/ddev/pull/3706 does in fact fix all the markdown link errors. There are still two weird external 503s, but those can simply be ignored I guess. The two 503s are to things on php.net; curls to those URLs come out clean, but apparently curls from inside this action result in 503s.

[2022-03-16 11:00] gaurav-nelson commented on #127
@rfay Thank you for reporting this. I'll check this one again to see what is happening. Otherwise revert back `v1` to the old build.

[2022-03-16 21:20] rajbos commented on #121
I have that configured, but still super verbose. See my workflow run here: https://github.com/rajbos/rajbos.github.io/runs/5576935018?check_suite_focus=true

[2022-03-18 02:30] gaurav-nelson commented on #127
@rfay as a temporary fix, I've moved `v1` back to `1.0.13`. I still have to check why new mlc version is causing so many broken links.

[2022-03-21 23:11] mockersf commented on #127
with the 1.0.14, links to anchors in a markdown files are failing the check

[2022-03-24 20:21] jakemac53 commented on #127
We are also getting failures for links to anchors in the current file, https://github.com/dart-lang/build/runs/5681705762

[2022-03-25 00:41] gaurav-nelson commented on #127
I've marked v1.0.14 as a per-release version. Latest version on markdown-link-check includes checks for anchor links and that is causing lots of failed links.

[2022-04-05 10:16] hughperkins opened #130 "upstream recommends xargs over `-exec`"
see https://github.com/tcort/markdown-link-check

"Avoid using find -exec because it will swallow the error from each consecutive run. Instead, use xargs:

[code]
"

[2022-04-06 13:39] ewels commented on #121
Came here looking for the same thing - the logs are so long it's difficult to find the broken links in all of the output..

Personally, I don't really care how many links have been checked, and don't want to hear about files that had all valid links. Also every dead link is printed twice as a summary and again with the status.

Taking the above actions run as an example, it would be great if we co

[2022-04-06 13:42] ewels commented on #125
See also https://github.com/gaurav-nelson/github-action-markdown-link-check/issues/121

[2022-04-07 00:34] gaurav-nelson commented on #121
@ewels @rajbos Thank you for adding to the conversation. I'm opening this issues again, hopefully tackle it sometime.

[2022-04-13 10:59] derberg opened #132 "fatal: unsafe repository ('/github/workspace' is owned by someone else)"
Hey, something wrong started happening few hours ago with the action.

- must be related to https://github.blog/2022-04-12-git-security-vulnerability-announced/
- related similar issue https://github.com/actions/checkout/issues/760
- I test solutions here https://github.com/derberg/test-experiment/pull/154

logs:
[code]

I tried a few workarounds but non of them works: https://github.com/derberg/t

[2022-04-13 12:59] labeneko commented on #132
I resolved this issue temporary 🙇

1. fork this repository
2. add `git config --global --add safe.directory /github/workspace` to `entrypoint.sh`
  example:  https://github.com/labeneko/github-action-markdown-link-check/commit/2cbe46aa223b4bf29e2d8f3cb568879581b1fbe5
3. fix yml
 `- uses: gaurav-nelson/github-action-markdown-link-check@v1` → `- uses: {your_repository}/github-action-markdown-link-ch

[2022-04-13 14:25] dfarrell07 commented on #132
There are some more details about this error in a more general context here: https://github.com/actions/checkout/issues/760

[2022-04-14 19:21] sschuberth commented on #132
Hmm, I've upgraded to checkout action v3, *and* I've also set `git config --global --add safe.directory /github/workspace`, but I'm still [seeing the error](https://github.com/oss-review-toolkit/ort/runs/6029607402?check_suite_focus=true#step:5:31). Any hints?

[2022-04-15 14:17] Adafede commented on #127
I am also experiencing lot of 503 on links that should not...

https://doi.org/10.1073/pnas.1509788112
https://doi.org/10.1111/2041-210X.12593

for example

[2022-04-17 04:06] creachadair commented on #132
The difficulty for this action is that it runs git inside Docker, so the place where you need to edit the git config is _inside_ the container. That is why [the comment above](https://github.com/gaurav-nelson/github-action-markdown-link-check/issues/132#issuecomment-1098020617) suggests forking _this_ repository (this is what I've done as a workaround as well).

[2022-04-17 08:09] sschuberth commented on #132
Thanks, that makes sense for the `git config --global --add safe.directory /github/workspace` part. But should the upgrade to checkout action v3(.0.1) alone have already fixed the issue?

[2022-04-17 08:13] sschuberth commented on #132
Looks like there's a [new issue](https://github.com/actions/checkout/issues/766) specifically about failing "in other workflow steps after running checkout".

[2022-04-19 00:15] nvliyuan commented on #132
I tried the comment but it seems the markdown link checker cannot access the reference links, any insight?
<img width="827" alt="image" src="https://user-images.githubusercontent.com/84758614/163896245-a91ebc6a-9da5-4bb5-a214-96ef985543ad.png">

[2022-04-19 00:24] creachadair commented on #132
The issue with reference links is not related to the permissions issue, but should be resolved by #129 being merged and released.

[2022-04-19 15:00] ve-sdk-android commented on #93
Hi! Do you have any workaround with this error?

`[✖] https://developer.android.com/guide/app-bundle → Status: 0 Error: Exceeded maxRedirects. Probably stuck in a redirect loop https://developer.android.com/guide/app-bundle
    at Redirect.onResponse (/usr/local/lib/node_modules/markdown-link-check/node_modules/request/lib/redirect.js:98:27)
    at Request.onRequestResponse (/usr/local/lib/node_mo

[2022-04-20 03:12] pacroy commented on #127
Same issue on relative link even on [`v1`](https://github.com/gaurav-nelson/github-action-markdown-link-check/releases/tag/v1) (48954f3f5ef8c8a396061da12f2bbf5b686c05e5)

[code]

[2022-04-20 06:46] STRRL opened #134 "Failed to check internal link with `v1` (48954f3)"
Link: https://github.com/chaos-mesh/chaos-mesh/runs/6089885884?check_suite_focus=true

There are lots of unexpected failures with internal links.

Using `gaurav-nelson/github-action-markdown-link-check@1.0.13` just works fine.

[2022-04-20 06:46] STRRL commented on #134
Similar issue: https://github.com/gaurav-nelson/github-action-markdown-link-check/issues/127#issuecomment-1103426180

[2022-04-20 06:54] STRRL commented on #134
Oh.. I saw your comments, https://github.com/gaurav-nelson/github-action-markdown-link-check/pull/129#issuecomment-1103317932

Currently, I think I could use a ignore pattern with `^#` to avoid them.

[2022-04-20 06:54] #134 closed

[2022-04-20 07:18] derberg commented on #132
ok, I see 7h ago new `v1` tag was created that points to a commit with the fix, so closing this one

[2022-04-20 13:17] pacroy commented on #127
Thanks. This issue seems to be fixed already. 😄

[2022-04-20 19:30] AleksanderBrzozowski commented on #127
We experienced the same problem when running check using `markdown-link-check@3.9.3`.
Switching to version `markdown-link-check@3.8.7` works OK.

@gaurav-nelson When do you plan to release new version of the action which would contain downgrade to `3.8.7`? ;)

[2022-04-21 04:24] gaurav-nelson commented on #127
@AleksanderBrzozowski v1 is using 3.8.7 which was my last commit https://github.com/gaurav-nelson/github-action-markdown-link-check/commit/5c5dfc0ac2e225883c0e5f03a85311ec2830d368

Comparison between v1 and v1.0.13 https://github.com/gaurav-nelson/github-action-markdown-link-check/compare/1.0.13...v1

I'm not sure why but when I test even with 1.0.13 I still get failed anchor links.

[2022-04-21 06:30] AleksanderBrzozowski commented on #127
Hm, is it possible to find which version of the `markdown-link-check` was used within action?
I looked at logs and I couldn't find information about version :/

[2022-04-21 06:45] gaurav-nelson commented on #127
@AleksanderBrzozowski yes its not in the logs. The version flag was implemented after mlc 3.8.7.

Can you try installing locally and check `npm i -g markdown-link-check@3.8.7` and then run the command to check a markdown file. I get failed anchor links.

[2022-04-21 07:15] AleksanderBrzozowski commented on #127
ok, I use the action to check links in docs from this [project](https://github.com/allegro/hermes).

When I run:
[code]
Everything works ok, no errors reported.

However, with version 3.9.1 it fails:
[code]

[2022-04-25 09:18] AleksanderBrzozowski commented on #127
@gaurav-nelson Can you check above? Are you sure that new version of the action has been successfully uploaded?

[2022-04-25 15:45] ustiugov opened #136 "github docs return 403"
Please check the logs [here](https://github.com/ease-lab/vSwarm/runs/6160687695?check_suite_focus=true#step:4:51)

[2022-04-27 00:54] gaurav-nelson commented on #127
@AleksanderBrzozowski I still can't make 1.0.13 work. For me it is failing on anchors PS: https://github.com/gaurav-nelson/test-mlc-action/runs/6185868294?check_suite_focus=true

[2022-04-27 18:00] AleksanderBrzozowski commented on #127
Hm, it looks like that our workflow has picked up recent version, and everything started to work again ;)
Is there any possibility to check which version of the action was used in a job?
Here are [logs from recent job run](https://github.com/allegro/hermes/runs/6153752925?check_suite_focus=true), the job is scheduled to execute every week.

[2022-04-29 00:42] gaurav-nelson commented on #127
¯\_(ツ)_/¯  I'm not sure what's going on. I'll update the script to list out all the node modules in use and their version.

[2022-04-29 01:01] gaurav-nelson commented on #127
@AleksanderBrzozowski PS: #137 Let me know if that is enough and I'll add it to v1.0.13 and v1

[2022-04-29 07:07] AleksanderBrzozowski commented on #127
PR approved. I saw the logs of one of the checks and it looks nice :)

[2022-04-29 20:49] rfay commented on #136
I'm also seeing this. I imagine it's some protection added to the server side.

[2022-05-03 17:14] mboersma commented on #136
Same here, also if I try to hit docs.github.com with `curl` (although of course my browser on the same host works fine):

[code]

[2022-05-03 18:40] invidian commented on #136
Simple bisecting unveils adding `--compressed` makes it work:
[code]

[2022-05-03 19:36] mboersma commented on #136
The workaround  mentioned in this issue seems to fix things: https://github.com/tcort/markdown-link-check/issues/201

[2022-05-04 10:18] gaurav-nelson commented on #136
Thank you @mboersma

Closing this issue as it relates to the underlying library PS: https://github.com/tcort/markdown-link-check/issues/201

[2022-05-04 10:18] #136 closed

[2022-05-05 17:30] jiayouba233 opened #138 "Some links check results as non-200"
[My Cl result](https://github.com/The-Run-Philosophy-Organization/run/runs/6332886681)

Thanks to Cl for this project, but it seems to have some bugs

In my Actions, the link check results of 1point3acres and offerup are abnormal 200, but in fact these links are normal

Another bug is that, in the Markdown file, /润学感悟/全世界可口可乐到底是不是一个味道.md The path like can be automatically completed and jump to the

[2022-05-17 14:56] assuiedmilan opened #139 "Links with Windows Separator are resolved on Unix"
Today I just discovered that one of my markdown links was broken on Unix. The reason: someone used a windows separator in the path, so the link is working properly on windows.

Now, since the check runs on a Ubuntu VM, I expected it to fail. But it passed.

What could explain it, and could we fix it ?

[2022-05-19 00:14] gaurav-nelson commented on #139
@assuiedmilan It's very hard to figure out what's going on without an example,
- can you post the run output ?
- can you try running `markdown-link-check` locally on you file and identify if it passes on Windows and fails on *nix?

From the description, I think it's most probably related to the underlying `markdown-link-check`library.

[2022-05-25 04:05] STRRL opened #140 "probe "https://www.microsoft.com/" failed with "Status: 0""
Here is the action: https://github.com/chaos-mesh/chaos-mesh/runs/6585613293?check_suite_focus=true

This issue occurred several days ago.

I do not know why the status is `0`, it should be an HTTP Status Code.

[2022-05-27 15:13] #138 closed

[2022-06-21 17:26] silesky opened #141 "[Feature request] Ignore localhost"
Ignore all URLs that include:
[code]

I can potentially create a PR if this suggestion is accepted.

Thank you all for your work on this project.

[2022-06-22 09:42] nvliyuan opened #142 "some absolute paths in git repo are marked as dead links"
please find the log in https://github.com/NVIDIA/spark-rapids-examples/runs/7000830544?check_suite_focus=true
in this repo, the absolute paths can be reached on the github web page, but are are marked as dead links.
<img width="734" alt="image" src="https://user-images.githubusercontent.com/84758614/174997518-ce89ba7a-5cba-4ac3-9814-558e052014c8.png">

[2022-06-22 19:02] iamtodor opened #143 "Status: 403 Forbidden for link in markdown link check github actions, and 200 Ok locally"
While using GitHub actions I get the error.
[code]

The complete log is here https://github.com/iamtodor/jdg/runs/7010592789?check_suite_focus=true

However, if I run the same command locally `find . -name '*.md' -not -path './node_modules/*' -exec markdown-link-check '{}' --config .github/workflows/markdown_link_check_config.json -v ';'`

The result is 200:
[code]

Here are some curl outputs
[cod

[2022-06-23 08:58] polarathene commented on #118
First off, it's better to copy a permalink (click on the `...` in the line sidebar), so that when issues like this go without interaction for so long, one does not need to go into git blame to make sure you're still referencing the same lines/content (might have changed since). [Here's the permalink](https://github.com/gaurav-nelson/github-action-markdown-link-check/blob/228fbf4ffb2a86a65314866e9b

[2022-06-24 14:37] diksown commented on #141
I had a problem with a project, but a workaround is just to set up a [config file](https://github.com/tcort/markdown-link-check#config-file-format) as a [custom variable](https://github.com/gaurav-nelson/github-action-markdown-link-check#custom-variables).

Put this on your custom config file:
[code]
You can also add a pattern to ignore the 127.0.0.1 as well.

[2022-06-24 15:06] #141 closed

[2022-06-26 14:08] WyriHaximus commented on #143
Seeing exactly the same issue, but in my case @github is throwing the 403 on https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request

[2022-06-26 15:17] iamtodor commented on #143
@WyriHaximus I had the same issue with GitHub, but it is locally and in GitHub actions. Take a look at this solution https://github.com/tcort/markdown-link-check/issues/201#issuecomment-1110242146
But with site `https://siiami.pl/`, the link check works fine locally

[2022-06-29 11:50] WyriHaximus commented on #143
@iamtodor That works perfectly, think you!

[2022-06-29 11:51] WyriHaximus commented on #143
Is it just that URL, or also other pages on that subdomain? `ESOCKETTIMEOUT` seems to bit low-level to me to not be firewall or WAP related

[2022-07-03 20:46] edumserrano commented on #9
If anyone is still interested in this I created an action to give you this information: [Markdown Link Check log parser](https://github.com/marketplace/actions/markdown-link-check-log-parser).

This action parses the log output from the `Markdown Link Check` action and makes it available in JSON or markdown format as a step output or as a file.

I've used this action in another repo of mine where

[2022-07-09 10:31] edumserrano commented on #9
@gaurav-nelson if you consider adding the output you just write to the log as a step output I could adjust my [Markdown Link Check log parser] action to also accept that as an input ? It would also enable the my action to run as part of the same workflow instead of having to create a separate workflow.

I understand your concerns, mainly around the potentially large step output but this could be e

[2022-07-12 06:06] danyalaytekin commented on #127
As far as I can tell, testing the last couple of days:

- `v1` fixes the Git issue, but not the `404` issue
- `1.0.13` may well fix the `404` issue, but I can't get around the Git issue

Any advice?

[2022-07-12 09:59] nvliyuan commented on #142
@gaurav-nelson can you please help with this issue?

[2022-07-22 01:46] #124 closed

[2022-07-28 14:07] Pandapip1 opened #146 "fatal: detected dubious ownership in repository at '/github/workspace'"
When attempting to use this action, I unexpectedly get the following error:

[code]

Running the command listed as an additonal step before running this action does not fix the issue.

Context:
- PR making these changes: https://github.com/ethereum/EIPs/pull/5361
- Workflow file: https://github.com/ethereum/EIPs/blob/75a7d6e825a0abe21264b8adab447fffa1412c10/.github/workflows/ci.yml
- Run Logs: htt

[2022-07-28 14:55] creachadair opened #147 "Request to tag a new release with anchor link fixes"
Now that the upstream fixes for `#anchor` links have been merged (cf. #144), could we please have a new tag on the v1 line (perhaps 1.0.15)?

[2022-08-03 08:04] #146 closed

[2022-08-03 08:15] gaurav-nelson commented on #147
Thank you @creachadair I've update https://github.com/gaurav-nelson/github-action-markdown-link-check/releases/tag/1.0.14

If it works well, I'll push v1 to this version.

[2022-08-03 08:15] #147 closed

[2022-08-03 08:22] gaurav-nelson commented on #142
Thank you @nvliyuan Can you please [run the action again](https://github.com/gaurav-nelson/github-action-markdown-link-check#versioning) with v1.0.14 ?

It include the latest version of `markdown-link-check` which fixes anchor links issues.

[2022-08-03 08:25] gaurav-nelson commented on #127
@danyalaytekin @rfay @AleksanderBrzozowski I've updated [1.0.14](https://github.com/gaurav-nelson/github-action-markdown-link-check/releases/tag/1.0.14) which includes latest mlc version and fixes some other issues. Can you check and confirm if that solves your problem?

[2022-08-03 15:55] rfay commented on #127
@gaurav-nelson if I understand you correctly you "updated" 1.0.14 rather than releasing a new version. Please don't ever do that. An existing release should never be changed. Rather, release a new version, like a v1.0.15.

I'll do a PR on DDEV to check v1.0.14

[2022-08-03 16:14] rfay commented on #127
I got a [successful run](https://github.com/drud/ddev/runs/7656002854?check_suite_focus=true), but I note I had added
[code]

to markdown-link-check.json... wasn't that part of this issue?

[2022-08-04 06:34] AleksanderBrzozowski commented on #127
I got a [successful run](https://github.com/AleksanderBrzozowski/hermes/runs/7666494967) too :)
In my case, there wasn't any change in a configuration file.

[2022-08-08 00:28] gaurav-nelson commented on #127
Thank you @rfay @AleksanderBrzozowski for testing it out.

@rfay That is a custom option people need to specify in the configuration file. I've added it to README at https://github.com/gaurav-nelson/github-action-markdown-link-check#github-links-failure-fix

Thank you for recommending about releasing a new version. I'll make sure I don't overwrite versions.

[2022-08-08 01:00] gaurav-nelson commented on #9
@edumserrano Thank you for working on this one. ❤️

Sure, I'll add it in my TODO's but feel free to create a PR. I have some questions:
1. Should I also add https://github.com/gaurav-nelson/github-action-markdown-link-check/blob/master/entrypoint.sh#L45-L51 as step outputs?
2. Since https://github.com/gaurav-nelson/github-action-markdown-link-check/blob/master/entrypoint.sh#L94 is a multiline file

[2022-08-08 23:12] edumserrano commented on #9
@gaurav-nelson

I don't need it for to be able to produce the output as shown in the [comment above](https://github.com/gaurav-nelson/github-action-markdown-link-check/issues/9#issuecomment-1173168863). That said it might be good for other reasons right? If it's not too much I guess we could just add it as it might enable other scenarios right? On the other hand if it's problematic leave it as for

[2022-08-24 22:06] TheMellyBee opened #150 "Surrounded by Quotes causing links to fail"
\"https://blockchain.info/ticker\"\n" fails. I'd like to be able to remove quotes, escapes, and new lines.

It gives the error https://blockchain.info/ticker/&quot;/n&quot; so it does correctly remove the first but not the rest

[2022-08-29 01:02] gaurav-nelson commented on #150
@TheMellyBee Thank you for creating this issue. I think this issue is for the underlying `markdown-link-check` library this action uses, I recommend that you create an issue at https://github.com/tcort/markdown-link-check/issues/new

However, maybe you can check https://github.com/tcort/markdown-link-check#config-file-format and see if using `replacementPatterns` will solve this issue?

[2022-09-13 03:37] khanguslee commented on #108
Any updates on your end @gaurav-nelson ?

It looks like you can't use the value `${{ secrets.GITHUB_TOKEN }}` inside the `.json` file for the markdown link config file. I would like to have this feature as our `README.md` file in our private repo, links to documentation found on our wiki page in our private repo. We also have the same issue where we reference other private repositories too.

[2022-09-21 11:02] sadra-barikbin opened #154 "Update dependency version"
To update `markdown-link-check` version. Today it released version `3.10.3` which included fixing some bugs affecting this repo.
https://github.com/gaurav-nelson/github-action-markdown-link-check/blob/d95b1613ef2337a80f9860814259ece511e0004e/entrypoint.sh#L11

[2022-09-21 11:11] sadra-barikbin commented on #154
For example this [bug](https://github.com/tcort/markdown-link-check/issues/206)

[2022-10-11 17:55] sadra-barikbin commented on #154
@gaurav-nelson

[2022-10-15 11:53] Anton-4 opened #157 "dead link false positive for `https://crates.io`"
Thanks for making this link checker :heart:

I encountered a strange false positive with `crates.io`, the link below works in the browser :shrug: :
[code]

[2022-10-15 12:09] Anton-4 commented on #157
This is caused by https://github.com/rust-lang/crates.io/issues/788

[2022-10-18 19:03] gbmarc1 commented on #108
Hi!
I would also be in need of that feature! My organization links `https://github.com/<organization>` are all failing.
I feel like this could be resolved by providing a template for the mlc_config.json to resolve the github_token in the `Authorization` header.

[2022-10-21 14:18] rootulp opened #158 "`folder-path` isn't respected"
I am observing a scenario where the config `folder-path` isn't being respected. Our config is [here](https://github.com/celestiaorg/celestia-app/blob/9867b653b2a253ba01cb7889e2dbfa6c9ff67909/.github/workflows/linkchecker.yml#L9-L15):
[code]

but markdown-link-check is running against `.` [here](https://github.com/celestiaorg/celestia-app/actions/runs/3296219513/jobs/5439416229#step:4:201). See htt

[2022-11-02 08:17] kouliavtsev opened #159 "Feature request set base url option in github action"
In my case, `PREVIEW_URL` changes on newly opened PR. It would be great to be able to pass the `BASEURL` from the github action into the github file like this.

[code]

This way, it could be used like this in `markdown-links-config.json`

[code]

[2022-11-05 13:42] fabriziopandini opened #161 "Running markdown-link-check"
Hi! is there a way to run markdown-link-check locally to verify a project before pushing changes to git hub?

I was thinking, I this will be available as a docker image, might be I can run it via simple docker run...

[2022-11-05 16:26] fabriziopandini commented on #161
ok... found the answer in https://github.com/tcort/markdown-link-check

[2022-11-05 16:27] fabriziopandini commented on #161
ok... found the answer in https://github.com/tcort/markdown-link-check

[2022-11-05 16:27] #161 closed

[2022-11-14 10:13] sergeyklay opened #162 "Issue with empty reply from server"
If we do `curl https://www.zus.pl`, we would get the body of the document.

However, github-action-markdown-link-check relies on headers, but no headers returned:

[code]

I'd like to be able to check the status code by sending a request to get the body of the document.

Related issue: https://github.com/sobolevbel/jdg/issues/110

[2022-11-18 02:04] gaurav-nelson commented on #162
Thank you @sergeyklay for creating the issue. However, I think this issue is related to the underlying library `markdown-link-check` and not this GitHub action. I'm closing this issue, can you please create an issue at https://github.com/tcort/markdown-link-check. Cheers!

[2022-11-18 02:04] #162 closed

[2022-11-18 16:36] sergeyklay commented on #162
@gaurav-nelson I'm not sure that's true. Easy replacement

[code]

Solving this issue